# HAProxy PoC
#
# Note: health check, status timings, passwords etc. are for test purposes only!
#

global
  maxconn 4096
  daemon
  # change from root!
  stats socket /run/haproxy.sock user root group root mode 660 level admin

defaults
  log			global
  mode			http
  option		httplog
  option		dontlognull
  option		redispatch
  retries		3
  maxconn		2000
  timeout connect	5000
  timeout client	50000
  timeout server	50000
  log			127.0.0.1 local0

userlist dpapi
  user dpapiuser insecure-password mypassword

frontend http
  # listen
  bind 0.0.0.0:80

  # whitelist range(s)
  acl dev_ip src 192.168.1.5
  acl prod_ip src 1.2.3.4

  # check whitelist
  # http-request deny if !dev_ip !prod_ip

  # associate with backend
  use_backend dev if dev_ip
  use_backend prod if prod_ip

  # other
  option http-server-close
  option forwardfor except 127.0.0.1
  option forwardfor header X-Real-IP

backend dev
  balance roundrobin
  mode http
  option httpchk HEAD /
  server dev1 192.168.1.4:80 check rise 1 fall 1
  server dev2 192.168.1.3:80 check rise 1 fall 1

backend prod
  balance roundrobin
  mode http
  option httpchk HEAD /
  server prod1 192.168.2.3:80 check rise 1 fall 1
  server prod2 192.168.2.4:80 check rise 1 fall 1

frontend stats
  bind *:8404
  stats enable
  stats uri /
  stats refresh 2s
  stats admin if LOCALHOST
